<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#featured"></a>
            </div><!-- navbar-header -->
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#featured">Home</a></li>
                    <li><a href="#mission">Mission</a></li>
                    <li><a href="#services">Menu</a></li>
                    <li><a href="#staff">Chefs</a></li>
                    <!--<li><a href="#testimonials">Testimonials</a></li>-->
                </ul>
            </div><!-- collapse navbar-collapse -->
        </div><!-- container -->
    </nav>
</header>
<div class="main">
    <div id="featured">
        <carousel [interval]="interval" [noWrap]="noWrapSlides">
            <slide *ngFor="#slidez of slides; #index=index" [active]="slidez.active">
                <img [src]="slidez.image" style="margin:auto">
                <div class="carousel-caption">
                    <p>{{slidez.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="page" id="mission">
        <div class="content container">
            <h2>Our Mission</h2>
            <div class="row">
                <p class="col-md-5 col-md-offset-1">The Kitchen Cuisine Restaurant offers a great tasting menu to its customers, depending on their varied tastes. From seafood to dessert to Mexican food, everything looks really delicious. Among the Ninety Nine Restaurant's menu includes the ALL STAR SAMPLER, BONELESS BUFFALO WINGS, TOASTED RAVIOLI, CALYPSO COCONUT SHRIMP, OUTRAGEOUS POTATO SKINS, GOLD FEVER WINGS, and many more.</p>
                <p id="extra" class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
            </div><!-- row -->
        </div><!-- content container -->
    </div><!-- mission page -->
    <div id="services" class="page">
        <h2>Our Menu</h2>
        <div class="bamboo-container services">
            <!--<ul class="menu">
                <li>
                    <a [routerLink]="['Courses']">
                        <span class="icon-wrap icon-effect-3 icon-effect-3a">
                            <span class="glyphicon glyphicon-list-alt icon" aria-hidden="true"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Courses']">
                        <span class="icon-wrap icon-effect-3 icon-effect-3a">
                            <span class="glyphicon glyphicon-inbox icon" aria-hidden="true"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Courses']">
                        <span class="icon-wrap icon-effect-3 icon-effect-3a">
                            <span class="glyphicon glyphicon-print icon" aria-hidden="true"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['Courses']">
                        <span class="icon-wrap icon-effect-3 icon-effect-3a">
                            <span class="glyphicon glyphicon-phone icon" aria-hidden="true"></span>
                        </span>
                    </a>
                </li>
            </ul>-->
            <div class="menu-container">
                <a [routerLink]="['Courses']" class="menu-item" tooltip="Menu">
                    <span class="icon-wrap icon-effect-3 icon-effect-3b" tooltip="Menu">
                        <span class="glyphicon glyphicon-list-alt icon" aria-hidden="true" tooltip="Menu"></span>
                    </span>
                    <span id="menu-menu" class="menu-text"><span class="slide-2-bottom">Menu</span></span>
                </a>
                <a [routerLink]="['Order']" class="menu-item">
                    <span class="icon-wrap icon-effect-3 icon-effect-3b" tooltip="Checkout">
                        <span class="glyphicon glyphicon-inbox icon" aria-hidden="true"></span>
                    </span>
                    <span id="checkout-menu" class="menu-text"><span class="slide-2-bottom">Checkout</span></span>
                </a>
                <a [routerLink]="['Soon']" class="menu-item">
                    <span class="icon-wrap icon-effect-3 icon-effect-3b" tooltip="Print Receipt">
                        <span class="glyphicon glyphicon-print icon" aria-hidden="true"></span>
                    </span>
                    <span id="print-menu" class="menu-text"><span class="slide-2-bottom">Print</span></span>
                </a>
                <a [routerLink]="['Soon']" class="menu-item">
                    <span class="icon-wrap icon-effect-3 icon-effect-3b" tooltip="Support">
                        <span class="glyphicon glyphicon-phone icon" aria-hidden="true"></span>
                    </span>
                    <span id="phone-menu" class="menu-text"><span class="slide-2-bottom">Phone</span></span>
                </a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div><!-- services page -->
    <div class="page" id="staff">
        <div class="container-fluid">
            <h2 id="ourstaff">Our Chefs</h2>
            <div class="row">
                <div class="chef col-lg-4">
                    <div class="row">
                        <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                            <img class="img-circle" src="images/chef-michelle.jpg" alt="Photo of Chef Dessert">
                        </div><!-- photo -->
                        <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                            <h3>Chef Michelle</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellu.</p>
                        </div><!-- info -->
                    </div> <!-- inner row -->
                </div> <!-- chef -->
                <div class="chef col-lg-4">
                    <div class="row">
                        <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                            <img class="img-circle" src="images/chef-chase.jpg" alt="Photo of Main Chef">
                        </div><!-- photo -->
                        <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                            <h3>Chef Chase</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu ege.</p>
                        </div><!-- info -->
                    </div> <!-- inner row -->
                </div> <!-- chef -->
                <div class="chef col-lg-4">
                    <div class="row">
                        <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                            <img class="img-circle" src="images/chef-james.jpg" alt="Photo of Chef James">
                        </div><!-- photo -->
                        <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                            <h3>Chef James</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
                        </div><!-- info -->
                    </div> <!-- inner row -->
                </div> <!-- chef -->
            </div><!-- outer row -->
        </div><!-- container -->
    </div><!-- staff page -->
    <div class="page" id="testimonials">
    </div><!-- testimonials page -->
</div><!-- main -->
<footer>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Call us toll-free at <span class="phone">888-555-1212</span></p>
                <p>
                    All contents &copy; 2016 <a href="#">Kitchen Cuisine</a>. All rights reserved.
                </p>
                <p><span app-version></span></p>
            </div><!-- col-sm-6 -->
            <div class="col-sm-6">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </nav>
            </div><!-- col-sm-6 -->
        </div><!-- row -->
    </div><!-- content container -->
</footer>
<toast></toast>
<modal-dialog></modal-dialog>