<div class="bamboo-container">
    <div id="course-mobile-pane" class="panel panel-default">
        <div class="panel-body">
            <select id='category-drop-down' (change)="onSelectCategoryAsId($event.target.value)">
                <option *ngFor="#item of categories" [value]="item.Id">{{item.Name}}</option>
            </select>
            <ul id="course-mobile-list" class="list-group">
                <li class="list-group-item" *ngFor="#item of courses | myCoursePipe: selectedCategory.Id">
                    <div class="course-items-pane">
                        <span class="item">{{item.Name}}</span>
                        <span class="price">{{item.Price|number:'.2-2'}}</span>
                        <button #toggleButton [id]="item.Id" type="button" class="btn btn-default btn-sm pull-right" (click)="onToggle(item, toggleButton)">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm pull-right" (click)="onShowImage(item)">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm pull-right" (click)="onPlaceOrder(item)">
                            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="description" style="display: none">
                            {{item.Description}}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="category-pane" class="panel panel-default">
        <div class="panel-heading">
            <h1>Categories</h1>
        </div>
        <div class="panel-body" *ngFor="#item of categories">
            {{item.Name}}
            <span class="icon-wrap icon-effect-1 icon-effect-1a">
                <span class="glyphicon glyphicon-chevron-right icon pull-right" aria-hidden="true" (click)="onSelectCategory(item)"></span>
            </span>
        </div>
    </div>
    <div id="course-pane" class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ selectedCategory.Name }}</h1>
        </div>
        <div class="panel-body">
            <div class="media" *ngFor="#item of courses | myCoursePipe: selectedCategory.Id">
                <div class="media-left">
                    <img class="media-object" [src]="item.ImageUrl">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{item.Name}}</h4>
                    <p>{{item.Description}}</p>
                    <strong>$ {{item.Price|number:'.2-2'}}</strong>
                    <button type="button" class="btn btn-default btn-sm pull-right" (click)="onPlaceOrder(item)">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                        Place Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
